<h1>Importando os Dados</h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

DataFrame = pd.read_csv('kc_house_data.csv', encoding='UTF-8', sep=";")
DataFrame.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19843,7853321180,2014-12-22,465000.0,5,2.50,2550,6405,2.0,0,0,...,7,2550,0,2008,0,98065,"47,5191","-121,8690",2190,5900
13074,7129304225,2015-01-08,305000.0,4,2.25,2340,5250,2.0,0,0,...,7,2340,0,1965,0,98118,"47,5183","-122,2660",1540,5250
500,7852170140,2015-05-10,650000.0,4,2.50,3180,5438,2.0,0,0,...,9,3180,0,2003,0,98065,"47,5416","-121,8640",3030,5335
19314,2720069019,2014-11-03,316000.0,3,1.75,1120,98445,1.5,0,2,...,7,1120,0,1917,0,98022,"47,1853","-122,0170",1620,34200
3396,2721049059,2014-05-28,225000.0,3,2.00,2030,24829,1.0,0,0,...,7,1220,810,1979,0,98001,"47,2718","-122,2910",1980,15204
16132,1246700050,2014-06-12,370000.0,2,1.00,1220,17172,1.0,0,0,...,6,1220,0,1947,0,98033,"47,6934","-122,1630",1510,12915
7577,50300220,2015-02-12,363000.0,4,2.50,2180,9281,2.0,0,0,...,8,2180,0,2004,0,98042,"47,3673","-122,0720",2520,9520
15921,7831800460,2014-05-02,235000.0,2,1.00,1210,9400,1.0,0,0,...,6,1210,0,1949,0,98106,"47,5342","-122,3600",1580,6026
19200,123039147,2015-03-19,464950.0,3,2.00,2190,19800,1.0,0,0,...,7,2190,0,1994,0,98146,"47,5106","-122,3650",1640,9719
2233,255400070,2014-07-01,875000.0,5,3.50,3840,8279,2.0,0,0,...,9,3840,0,2001,0,98074,"47,6039","-122,0590",3570,8279

In [34]:
!pip install seaborn --upgrade #or also !pip install seaborn==0.9.0

Invalid requirement: '#or'
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\packaging\requirements.py", line 92, in __init__
    req = REQUIREMENT.parseString(requirement_string)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1617, in parseString
    raise exc
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1607, in parseString
    loc, tokens = self._parse( instring, 0 )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3376, in parseImpl
    loc, exprtokens = e._parse( instring, loc, doActions )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3698, in parseImpl
    return self.expr._parse( instring, loc, doActions, callPreParse=False )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3359, in parseImpl
    loc, resultlist = self.exprs[0]._parse( instring, loc, doActions, callPreParse=False )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1383, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 2670, in parseImpl
    raise ParseException(instring, loc, self.errmsg, self)
pip._vendor.pyparsing.ParseException: Expected W:(abcd...) (at char 0), (line:1, col:1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_install.py", line 82, in __init__
    req = Requirement(req)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_vendor\packaging\requirements.py", line 96, in __init__
    requirement_string[e.loc:e.loc + 8]))
pip._vendor.packaging.requirements.InvalidRequirement: Invalid requirement, parse error at "'#or'"

You are using pip version 9.0.1, however version 22.0.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [14]:
print(DataFrame.price.min())
DataFrame.price.max()

75000.0

316875000000.0

<h3>A empresa, House Rocket, deseja obter infromaÃ§Ãµes e o direcionamento de mercado de casas na cidade de King County, USA, para isto ela levantou as seguintes questÃµes: </h3>
<h3> 
    <ol>
    <li>Quais casas o CEO da House Rocket deveria comprar e por qual preÃ§o de compra?</li>  <br>   
    <li>Uma vez a casa em posse da empresa, qual o melhor momento para vendÃª-las e qual seria o preÃ§o da venda?</li>   <br>  
    <li> A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda? Quais seriam as sugestÃµes de mudanÃ§as? Qual o incremento no preÃ§o dado por cada opÃ§Ã£o de reforma?</li>       
    </ol>
</h3>

<h6>InformaÃ§Ãµes</h6>

sqft_basement = tamanho do porÃ£o

sqft_above = tamanho segundo andar

yr_built = ano de construÃ§Ã£o

yr_renovated = ano da reforma

# Observando casas reformadas para calcular sua valorizaÃ§Ã£o

In [3]:
Renovated = DataFrame[DataFrame['yr_renovated']!=0]
Unrenovated = DataFrame[DataFrame['yr_renovated']==0]

In [4]:
DataFrame.loc[0,:]

id               7129300520
date             2014-10-13
price                221900
bedrooms                  3
bathrooms                 1
sqft_living            1180
sqft_lot               5650
floors                    1
waterfront                0
view                      0
condition                 3
grade                     7
sqft_above             1180
sqft_basement             0
yr_built               1955
yr_renovated              0
zipcode               98178
lat                 47,5112
long              -122,2570
sqft_living15          1340
sqft_lot15             5650
Name: 0, dtype: object

In [5]:
Ren = Renovated['price'].mean()
Ren

1446211405.583151

In [6]:
Unr = Unrenovated['price'].mean()
Unr

529524767.00782645

In [7]:
print(Ren - Unr)

916686638.5753247

<h3> Pelos passos acima podemos perceber que na mÃ©dia as casas reformadas sÃ£o mais valorizadas que as casas sem reforma.
    
Sendo assim seria interessante o CEO reformar a casa antes de VendÃª-la.
</h3>

<h3> Seguindo esta lÃ³gica, o recomendado seria o CEO comprar uma casa mais barata para reformar e revender.<br>
    
Primeiramente serÃ¡ analisada a casa que esteja entre as mais antigas e serÃ¡ verificado se esta resulta na casa mais barata, ou em um preÃ§o baixo.</h3>

# Buscando a casa mais antiga para comparar com o preÃ§o da mais barata

In [8]:
Cheaper = Unrenovated[Unrenovated['yr_built'] == Unrenovated['yr_built'].min()]
CheapestElderHouse = Cheaper[Cheaper['price'] == Cheaper['price'].min()]
print(CheapestElderHouse)
CheapestElderHouse['condition']

               id        date     price  bedrooms  bathrooms  sqft_living  \
14001  2354300456  2015-03-11  130000.0         2        1.0          600

       sqft_lot  floors  waterfront  view     ...      grade  sqft_above  \
14001      1500     1.0           0     0     ...          4         600

       sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
14001              0      1900             0    98027  47,5289  -122,0330

      sqft_living15  sqft_lot15
14001          1130        6000

[1 rows x 21 columns]

14001    4
Name: condition, dtype: int64

In [9]:
CheapestHouse = Unrenovated[Unrenovated['price'] == Unrenovated['price'].min()]
print(CheapestHouse)
CheapestHouse['condition']

              id        date    price  bedrooms  bathrooms  sqft_living  \
1149  3421079032  2015-02-17  75000.0         1        0.0          670

      sqft_lot  floors  waterfront  view     ...      grade  sqft_above  \
1149     43377     1.0           0     0     ...          3         670

      sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
1149              0      1966             0    98022  47,2638  -121,9060

     sqft_living15  sqft_lot15
1149          1160       42882

[1 rows x 21 columns]

1149    3
Name: condition, dtype: int64

<h3> Diferente do esperado, nos resultados acima foi encontrada a casa mais antiga nÃ£o renovada no valor de 130 mil, e tambÃ©m a mais barata encontrada no banco de dados, no valor de 75 mil.
    
    Analisando os preÃ§os pode-se dizer que nÃ£o existe motivos evidentes para o CEO comprar a casa mais antiga, pois ambas casas tem o espaÃ§o de construÃ§Ã£o parecido (sqft_living) e apesar da casa de 75 mil estar numa condiÃ§Ã£o pior e ter menos banheiros e quartos, isto pode ser solucionado na reforma, valorizando a casa, alÃ©m de pagar 55 mil a menos. <br>
    
Apenas faria sentido comprar a casa antiga se fosse para uso imediato, sem pretensÃµes de lucro, pois ela dispÃµe de uma melhor condiÃ§Ã£o de moradia e recursos que a casa de 75 mil.
    
<br>
Sendo assim seria indicado que o CEO comprasse casas baratas no geral, entre 75 mil e 100mil, nÃ£o importando muito com seu tempo de construÃ§Ã£o, uma vez que este nÃ£o indica uma diminuiÃ§Ã£o nos preÃ§os e nem com suas condiÃ§Ãµes e itens como banheiros e quartos, uma vez que estes itens poderiam ser construidos numa reforma desde que o "sqft_lot" o possibilite.
</h3>

# Entendendo se o ZipCode impacta nos preÃ§os das casas

In [10]:
df = DataFrame.groupby('zipcode').mean()
df2 = DataFrame.groupby('zipcode').median()
df3 = DataFrame.groupby('zipcode').std()
ExpensiveZip = df[df['price'] == df['price'].max()]
print('ZipCode com casas mais caras em mÃ©dia', ExpensiveZip.index.values[0], 'valor mÃ©dio', df['price'].max())

ZipCode com casas mais caras em mÃ©dia 98039 valor mÃ©dio 14294837700.0

In [11]:
CheapZip = df[df['price'] == df['price'].min()]
CheapZipmedian = df2[df2['price'] == df2['price'].min()]
CheapZipstd = df3[df3['price'] == df3['price'].min()]
generalMean = DataFrame['price'].mean()
generalMedian = DataFrame['price'].median()
generalstd = DataFrame['price'].std()
print('ZipCode com as casas de mÃ©dias mais baratas fica no ',CheapZip.index.values,
      'valor mÃ©dio de: %i' %(df['price'].min()))
print('mÃ©dia geral Ã© de: %i' %(generalMean))
print('ZipCode com as casas de menor mediana fica no ',CheapZipmedian.index.values,
      'valor mÃ©dio de: %i' %(df2['price'].min()))
print('mÃ©dia geral Ã© de: %i' %(generalMedian))
print('ZipCode com as casas com menor desvio padrÃ£o fica no ',CheapZipstd.index.values,
      'valor mÃ©dio de: %i' %(df3['price'].min()))
print('mÃ©dia geral Ã© de: %i' %(generalstd))

ZipCode com as casas de mÃ©dias mais baratas fica no  [98002] valor mÃ©dio de: 234284
mÃ©dia geral Ã© de: 568290860
ZipCode com as casas de menor mediana fica no  [98002 98168] valor mÃ©dio de: 235000
mÃ©dia geral Ã© de: 450000
ZipCode com as casas com menor desvio padrÃ£o fica no  [98002] valor mÃ©dio de: 52041
mÃ©dia geral Ã© de: 8516008693

<h3> Outra variÃ¡vel que pode impactar o preÃ§o da casa Ã© a localizaÃ§Ã£o, podemos anÃ¡lisar isso atravÃ©s da coluna "zipcode", e como visto anteriormente nos resultados seria interessante evitar o zipcode 98002, jÃ¡ que as medidas estatÃ­sticas apontam para um baixo valor das casas alÃ©m de uma taxa de preÃ§o com pequenas variaÃ§Ãµes, ou seja, muito provavelmente a localizaÃ§Ã£o tem grande impacto no valor da casa.<br>

<br>
Sabendo o valor mÃ©dio das casas em King County, Ã© possÃ­vel afirmar que a reforma Ã© uma boa estratÃ©gia, uma vez que o valor mÃ©dio das casas reformadas, que Ã© de 1.446.211.405, Ã© maior que o valor mÃ©dio das casas em geral e das casas nÃ£o reformadas, como visto anteriormente.
</h3>

In [19]:
ID_Duplo = DataFrame[DataFrame['id'].duplicated(keep = False)]

ID_Duplo_Length = ID_Duplo.shape[0]
#CALCULANDO A VALORIZAÃ‡ÃƒO/DESVALORIZAÃ‡ÃƒO PELO TEMPO ENTRE OS IDS IGUAIS E SALVANDO OS VALORES EM meanProfit
meanProfit = []
for i in range(0, ID_Duplo_Length, 2):
    if(i+1 < ID_Duplo_Length):
        locActual = ID_Duplo.iloc[i,:]
        locProx = ID_Duplo.iloc[i+1,:]
        if(locActual.id == locProx.id):
            if locActual['date'] > locProx['date']:
                meanProfit.append(locActual['price']/locProx['price'])
            else:
                meanProfit.append(locProx['price']/locActual['price'])
        else:
            meanProfit.append(0)
    else:
        meanProfit.append(0)
        
#montando DataFrame com a valorizaÃ§Ã£o ou desvalorizaÃ§Ã£o dos imÃ³veis
df_meanProfit = pd.DataFrame(meanProfit, columns = ['percentage'])    
df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != 0]
#Passando de lista para DataFrame e retirando valores zerados

df_meanProfit.sort_values(by=['percentage'])

      percentage
59      0.000099
1       0.001012
37      0.001024
118     0.945946
42      0.960686
7       0.976628
91      0.978000
137     0.990291
131     1.000000
33      1.000000
49      1.008902
98      1.009281
13      1.010568
22      1.018519
99      1.020408
138     1.030769
95      1.033333
2       1.036638
52      1.042945
104     1.054463
35      1.061693
96      1.062007
126     1.065089
156     1.067647
19      1.071429
34      1.074286
125     1.075964
158     1.078261
76      1.090909
67      1.128571
..           ...
71      1.877729
77      1.897805
30      1.910738
140     1.914286
44      1.917098
10      1.939163
72      1.950000
90      1.972973
106     1.973913
70      2.114286
134     2.122449
82      2.130984
109     2.176636
79      2.205403
20      2.211538
84      2.249166
143     2.261905
130     2.277916
55      2.280000
124     2.311561
64      2.319149
94      2.326531
108     2.371429
157     2.444444
63      2.681707
87      2.764706
127     2.969697
145     3.308271
120     4.218009
123  1115.384615

[159 rows x 1 columns]

<h3> Ã‰ possÃ­vel perceber que existem algumas porcentagens atuando como outliers para cima, como um aumento de 718875.81%, quanto para baixo, como um "aumento" de 0.000084%, ou seja, uma diminuiÃ§Ã£o. Sendo assim serÃ¡ removido tanto os 5 maiores quanto os 5 menores valores  </h3>

In [23]:
for i in range(5):
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].max()]
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].min()]
df_meanProfit.sort_values(by=['percentage'])
#Aqui jÃ¡ Ã© possÃ­vel ver valores mais 'reais', para realizaÃ§Ã£o de uma boa anÃ¡lise

     percentage
96     1.062007
126    1.065089
156    1.067647
19     1.071429
34     1.074286
125    1.075964
158    1.078261
76     1.090909
67     1.128571
110    1.144928
152    1.146043
149    1.166667
66     1.200000
147    1.205674
53     1.231084
28     1.238095
92     1.238095
16     1.280000
62     1.299750
51     1.311111
88     1.321867
65     1.342667
36     1.343636
50     1.348958
9      1.356618
117    1.366460
80     1.378151
25     1.382353
39     1.390604
12     1.404651
..          ...
151    1.708571
141    1.721944
119    1.722222
97     1.727564
103    1.731250
11     1.738088
54     1.738710
81     1.750000
132    1.757049
136    1.757143
73     1.758621
15     1.787440
57     1.794709
17     1.800554
32     1.805556
83     1.806452
56     1.807692
43     1.811594
112    1.837838
27     1.862857
71     1.877729
77     1.897805
30     1.910738
140    1.914286
44     1.917098
10     1.939163
72     1.950000
90     1.972973
106    1.973913
70     2.114286

[118 rows x 1 columns]

In [24]:
df_meanProfit.mean()

percentage    1.547665
dtype: float64

In [25]:
df_meanProfit.median()

percentage    1.57918
dtype: float64

In [26]:
df_meanProfit.mode()

   percentage
0    1.238095

In [31]:
ax = sns.histplot((df_meanProfit-1)*100, bins = 70, kde = True)

ax.figure.set_size_inches(12, 6)
ax.set_title('DistribuiÃ§Ã£o de FrequÃªncias - Acumulo dos valores dos calculos da valorizaÃ§Ã£o com o tempo', fontsize=18)
ax.set_xlabel('Porcentagem de valorizaÃ§Ã£o', fontsize=14)
ax

AttributeError: module 'seaborn' has no attribute 'histplot'

<h2> Pode-se inferir pelo resultado da mÃ©dia que as casas tendem a valorizar cerca de 25% com o tempo, porÃ©m se analisarmos a mediana, a moda e o grÃ¡fico acima, Ã© possÃ­vel observar que o maioria das casas tendem a desvalorizar com o tempo, uma vez que a mediana Ã© menor que 1, ou seja, existe uma desvalorizaÃ§Ã£o na maioria das casas, o que tambÃ©m Ã© possÃ­vel de se observar no grÃ¡fico. Sendo assim, apenas esperar o tempo passar, nÃ£o garantirÃ¡ uma venda em um valor maior.
<br><br><br>
    Abaixo Ã© explorado em qual mÃªs o valor de venda Ã© maior de acordo com os dados.
</h2>

In [ ]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
for i in range(12):
    meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
    print('a mÃ©dia de valor no mÃªs', i+1, 'Ã© de:', format(meanMonth['price'].mean(),'.1E'))

In [ ]:
data_month = DataFrame
data_month['month'] = data_month['date'].dt.month


ax = sns.barplot(x = [i for i in range(1,13)], y =data_month.groupby('month').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o mÃªs', fontsize=18)
ax.set_xlabel('MÃªs', fontsize=14)
ax.set_ylabel('PreÃ§o em BilhÃµes', fontsize=14)
ax

<h2> Vimos que o valor de vendas comeÃ§a a aumentar em maio(5) atinge o auge em julho(7) e
em seguida os valores diminuem alcanÃ§ando uma baixa em novembro(11), se igualando com vendas do primeiro semestre exceto abril(4).<br><br><br> Abaixo a anÃ¡lise a ser feita vai alÃ©m dos meses mas tambÃ©m em qual ano foram feitas essas vendas.</h2>

In [ ]:
for j in range(2014, 2016, 1):
    for i in range(12):
        meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
        meanMonthPerYear = meanMonth[meanMonth['date'].dt.year == j]
        print('a mÃ©dia de valor no mÃªs', i+1, 'no ano de', j,'Ã© de:', format(meanMonthPerYear['price'].mean(),'.1E'))

In [ ]:
data_month = DataFrame
data_month['year-month'] = (data_month['date'].dt.year).astype(str) + '/' + (data_month['date'].dt.month).astype(str)

label = data_month['year-month'].value_counts().index


label

In [ ]:
label = ['2015/04', '2014/07', '2014/06', '2014/08', '2014/10', '2015/03', '2014/09',
       '2014/05', '2014/12', '2014/11', '2015/02', '2015/01', '2015/05']
label = sorted(label)
values = data_month.groupby('year-month').price.mean()

values.index

In [ ]:
values.index = ['2014/10', '2014/11', '2014/12', '2014/05', '2014/06', '2014/07', '2014/08',
       '2014/09', '2015/01', '2015/02', '2015/03', '2015/04', '2015/05']

ax = sns.barplot(x = label , y = values.sort_index())
ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o mÃªs e ano', fontsize=18)
ax.set_xlabel('Ano / MÃªs', fontsize=14)
ax.set_ylabel('PreÃ§o em BilhÃµes', fontsize=14)
ax

<h2> Nesta anÃ¡lise vÃª-se que os dados confirmam a ideia de que as vendas a partir de julho tendem a ser maiores e tambÃ©m Ã© possÃ­vel inferir uma valorizaÃ§Ã£o nas casas de 2014 para 2015, desta forma uma estratÃ©gia de negÃ³cio seria esperar a valorizaÃ§Ã£o do imÃ³vel de um ano para o outro, se esta for uma opÃ§Ã£o viÃ¡vel.<br><br><br> A anÃ¡lise abaixo busca compreender o impacto do nÃºmero de banheiros no valor da casa.</h2>

In [ ]:
bathrooms = DataFrame['bathrooms'].value_counts().sort_index()
save = bathrooms.tolist()
#print(bathrooms)
for i in range(len(bathrooms)):
    if i>3:
        meanVal = DataFrame[DataFrame['bathrooms'] == (i/4)]
        print('a mÃ©dia de valor para', i*0.25, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i-3] = (meanVal['price'].mean())
    else:
        if i == 0:
            meanVal = DataFrame[DataFrame['bathrooms'] == i]
            print('a mÃ©dia de valor para', i, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[i] = (meanVal['price'].mean())
            
        elif i==1:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.5]
            print('a mÃ©dia de valor para', 7.5, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[27] = (meanVal['price'].mean())
            
        elif i==2:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.75]
            print('a mÃ©dia de valor para', 7.75, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[28] = (meanVal['price'].mean())

        elif i==3:
            meanVal = DataFrame[DataFrame['bathrooms'] == 8]
            print('a mÃ©dia de valor para', 8, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[29] = (meanVal['price'].mean())

In [ ]:
classes = [0, 0.99, 1.99, 2.99, 3.99, 4.99, 5.99, 6.99, 100]
labels = [0, 1, 2, 3, 4, 5, 6, '7+']
df_bathrooms = DataFrame
df_bathrooms['frequencia'] =  pd.cut(x = df_bathrooms.bathrooms,
         bins = classes,
         labels = labels,
         include_lowest = True)
df_bathrooms[df_bathrooms['frequencia'] == 1].price.mean()

In [ ]:
ax = sns.barplot(x = labels, y = df_bathrooms.groupby('frequencia').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de banheiros', fontsize=18)
ax.set_xlabel('NÃºmero de banheiros', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_bathrooms.groupby('frequencia').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('Mediana dos preÃ§os das casas de acordo com o nÃºmero de banheiros', fontsize=18)
ax.set_xlabel('NÃºmero de banheiros', fontsize=14)
ax.set_ylabel('PreÃ§o em 100 MilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_bathrooms.groupby('frequencia').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('Desvio padrÃ£o dos preÃ§os das casas de acordo com o nÃºmero de banheiros', fontsize=18)
ax.set_xlabel('NÃºmero de banheiros', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> Pode-se observar que o nÃºmero de banheiros provavelmente nÃ£o Ã© a variÃ¡vel que mais afeta o preÃ§o das casas, porÃ©m Ã© interessante analisar que as casas da classe 6 banheiros tem uma valorizaÃ§Ã£o alta.</h2>

<h2> As anÃ¡lises abaixo serÃ£o feitas de mesma forma, mas levarÃ¡ em conta o nÃºmero de quartos, andares, fontes de Ã¡gua frontal e view(que eu assumi como vista para pontos turÃ­sticos ou entÃ£o paisagens).</h2>

In [ ]:
bedrooms = DataFrame['bedrooms'].value_counts().sort_index()
save = bedrooms.tolist()
#print(bedrooms)
for i in range(len(bedrooms)):
    if i == 12:
        meanVal = DataFrame[DataFrame['bedrooms'] == 33]
        print('a mÃ©dia de valor para', 33, 'quartos Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())
    else:    
        meanVal = DataFrame[DataFrame['bedrooms'] == i]
        print('a mÃ©dia de valor para', i, 'quarto(s) Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())

In [ ]:
classes = [0, 0.99, 1.99, 2.99, 3.99, 4.99, 5.99, 6.99, 100]
labels = [0, 1, 2, 3, 4, 5, 6, '7+']
df_bedrooms = DataFrame
df_bedrooms['frequencia'] =  pd.cut(x = df_bedrooms.bedrooms,
         bins = classes,
         labels = labels,
         include_lowest = True)
df_bathrooms[df_bathrooms['frequencia'] == 1].price.mean()

In [ ]:
ax = sns.barplot(x = labels, y = df_bedrooms.groupby('frequencia').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de quartos', fontsize=18)
ax.set_xlabel('NÃºmero de quartos', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_bedrooms.groupby('frequencia').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('Mediana dos preÃ§os das casas de acordo com o nÃºmero de quartos', fontsize=18)
ax.set_xlabel('NÃºmero de quartos', fontsize=14)
ax.set_ylabel('PreÃ§o', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_bedrooms.groupby('frequencia').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('Desvio padrÃ£o dos preÃ§os das casas de acordo com o nÃºmero de quartos', fontsize=18)
ax.set_xlabel('NÃºmero de quartos', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> Pela mÃ©dia Ã© possÃ­vel concluir que ter quartos Ã© uma decisÃ£o ruim, o que me faz pensar que estes dados nÃ£o sÃ£o apenas de casas e sim de qualquer construÃ§Ã£o, incluindo edifÃ­cios para negÃ³cios. Entretanto, observando a mediana e desvio padrÃ£o podemos perceber que o aumento de quartos tende a aumentar a mediana e o desvio padrÃ£o em comparaÃ§Ã£o com a mÃ©dia, sendo assim podemos concluir que o nÃºmero de quartos influÃªncia o valor de uma casa, nÃ£o de um edifÃ­cio de negÃ³cio onde nÃ£o existe a necessidade de um quarto. Sendo assim percebo que para analisar melhor a base de dados seria necessÃ¡rio separar as casas das demais construÃ§Ãµes.</h2>

In [ ]:
floors = DataFrame['floors'].value_counts().sort_index()
save = floors.tolist()
#print(floors)
for i in range(len(floors)):
    meanVal = DataFrame[DataFrame['floors'] == ((i*0.5)+1)]
    print('a mÃ©dia de valor para', ((i*0.5)+1), 'andar(es) Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

In [ ]:
classes = [1, 1.99, 2.99, 100]
labels = [ 1, 2, '3+']
df_floors = DataFrame
df_floors['frequencia'] =  pd.cut(x = df_floors.floors,
         bins = classes,
         labels = labels,
         include_lowest = True)

In [ ]:
ax = sns.barplot(x = labels, y = df_floors.groupby('frequencia').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de andares', fontsize=18)
ax.set_xlabel('NÃºmero de andares', fontsize=14)
ax.set_ylabel('PreÃ§o em BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_floors.groupby('frequencia').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('Mediana dos preÃ§os das casas de acordo com o nÃºmero de andares', fontsize=18)
ax.set_xlabel('NÃºmero de andares', fontsize=14)
ax.set_ylabel('PreÃ§o', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_floors.groupby('frequencia').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('Desvio PadrÃ£o dos preÃ§os das casas de acordo com o nÃºmero de andares', fontsize=18)
ax.set_xlabel('NÃºmero de andares', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> Assim como nos dados sobre banheiros, nos dados de andares vemos que o ideal do imÃ³vel Ã© ter 2 andares, pois este se mantÃ©m em alta tanto na mÃ©dia quanto na mediana, porÃ©m como seu desvio padrÃ£o tambÃ©m Ã© elevado, podemos concluir que nÃ£o Ã© somente a quantidade de andares que afetarÃ¡ o preÃ§o da casa ou edifÃ­cio.</h2>

In [ ]:
waterfront = DataFrame['waterfront'].value_counts().sort_index()
save = waterfront.tolist()
#print(waterfront)
for i in range(len(waterfront)):
    meanVal = DataFrame[DataFrame['waterfront'] == i]
    print('a mÃ©dia de valor para', i, 'fonte de Ã¡gua frontal Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

In [ ]:
ax = sns.barplot(x = [0,1], y = df_floors.groupby('waterfront').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de fontes de Ã¡gua frontal', fontsize=18)
ax.set_xlabel('NÃºmero de fontes de Ã¡gua frontal', fontsize=14)
ax.set_ylabel('PreÃ§o em BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = [0,1], y = df_floors.groupby('waterfront').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de fontes de Ã¡gua frontal', fontsize=18)
ax.set_xlabel('NÃºmero de fontes de Ã¡gua frontal', fontsize=14)
ax.set_ylabel('PreÃ§o em MilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = [0,1], y = df_floors.groupby('waterfront').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de fontes de Ã¡gua frontal', fontsize=18)
ax.set_xlabel('NÃºmero de fontes de Ã¡gua frontal', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> Sobre os resultados acima, vemos que com uma mediana na casa dos milhÃµes e com o desvio padrÃ£o e mÃ©dia na casa dos bilhÃµes podemos concluir que a fonte pode atÃ© influÃªnciar o valor, mas certamente nÃ£o Ã© um fator principal neste quesito.</h2>

In [ ]:
view = DataFrame['view'].value_counts().sort_index()
save = view.tolist()
#print(view)
for i in range(len(view)):
    meanVal = DataFrame[DataFrame['view'] == i]
    print('a mÃ©dia de valor para', i, 'vista(s) Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

In [ ]:
classes = [0, 0.99, 1.99, 2.99, 3.99, 100]
labels = [ 0, 1, 2, 3, '4+']
df_view = DataFrame
df_view['frequencia'] =  pd.cut(x = df_view.view,
         bins = classes,
         labels = labels,
         include_lowest = True)

In [ ]:
ax = sns.barplot(x = labels, y = df_view.groupby('frequencia').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_view.groupby('frequencia').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em MilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_view.groupby('frequencia').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> Pelos dados acima pode-se dizer que Ã© interessante para a empresa observar quais casas possuem uma(1) vista no mÃ­nimo e de preferÃªncia 4 vistas. Isso se dÃ¡ por conta da mÃ©dia e mediana crescente de acordo com o nÂ° de vistas, porÃ©m o desvio padrÃ£o Ã© muito alto. Sendo assim, a vista afeta o preÃ§o, porÃ©m nÃ£o Ã© garantia de uma valorizaÃ§Ã£o gigantesca na casa.</h2>


<br>
<br>
<br>

<h2>Respondendo as perguntas do inÃ­cio:</h2>

In [ ]:
classes = [0, 2000, 5000, 10000, 12000, 100000]
labels = [ '0-2000', '2000-5000', '5000-10000', '10000-12000', '12000+']

df_sqf = DataFrame
df_sqf['frequencia'] = pd.cut(x = df_sqf.sqft_living,
         bins = classes,
         labels = labels,
         include_lowest = True)

In [ ]:
ax = sns.barplot(x = labels, y = df_sqf.groupby('frequencia').price.mean())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_sqf.groupby('frequencia').price.median())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

In [ ]:
ax = sns.barplot(x = labels, y = df_sqf.groupby('frequencia').price.std())

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h2> 1. Quais casas o CEO da House Rocket deveria comprar e por qual preÃ§o de compra? </h2>

<h3>Em resumo as casas que o CEO da House Rocket deveria comprar sÃ£o:
    <ol>
        <li>Casas com valores menores que 200 mil</li>
        <li>De preferÃªncia casas passÃ­veis de serem reformadas, ou seja, que nÃ£o tenham sido reformadas.</li>
        <li>De preferÃªncia casas no ZipCode 98039.</li>
        <li>Casas de 3 a 5 banheiros, e caso nÃ£o tenha ao ser comprado Ã© indicada a construÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas de 2 a 5 quartos, e caso nÃ£o tenha ao ser comprado Ã© indicada a construÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas de 2 andares, e caso nÃ£o tenha ao ser comprado Ã© indicada a construÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas com 1 fonte de Ã¡gua frontal, e caso nÃ£o tenha ao ser comprado Ã© indicada a construÃ§Ã£o da mesma na reforma.</li>
        <li>Casas com vista e de preferÃªncia com o valor igual a 4.</li>
    </ol>
</h3>

In [ ]:
wantedHouses = DataFrame.iloc[0:0]

#1
df1 = DataFrame[DataFrame['price'] < 200000]

#2
#df1 = df1[df1['zipcode'] == 98039]

#4

wantedHouses = wantedHouses.append(df1[df1['bathrooms'] <= 5])

#5
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['bedrooms'] <= 5]

#6
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['floors'] <= 2]

#7 nÃ£o hÃ¡ casas que tenham fonte
wantedHouses = wantedHouses.loc[wantedHouses['waterfront'] <= 1]

#8

wantedHouses = wantedHouses[wantedHouses['view'] > 0]

wantedHouses.sort_values(by = 'price')

In [ ]:
DataFrame['sqft_lot'].mean()

<h3> Essas seriam as 5 melhores opÃ§Ãµes. Dado as condiÃ§Ãµes possÃ­veis, uma vez que no zipcode preferencial nÃ£o estÃ£o dentro da faixa de preÃ§o.
    <br><br>
A melhor opÃ§Ã£o seria o imÃ³vel de id igual a 1320069249 com o valor de 192mil, pois Ã© uma casa que atende os requisitos e dado ao seu grande espaÃ§o de terreno apÃ³s uma reforma a empresa conseguiria ter um lucro com a casa, uma vez que uma casa renovada tem a expectativa de aumento, alÃ©m das outras melhorias possÃ­veis de novos quartos, banheiros, andares e uma fonte de Ã¡gua tambÃ©m podem aumentar o lucro, e por fim ainda sobrar espaÃ§o no terreno. 
    <br><br>
    Tudo isso levado em conta, Ã© possÃ­vel que a divisÃ£o deste terreno seja utilizado para construÃ§Ã£o de novas casas, pois o terreno deste imÃ³vel Ã© enorme, dado por "sqft_lot" = 63737, sendo 4 vezes o tamanho mÃ©dio dos imÃ³veis, desta forma alÃ©m de lucrar com a reforma na casa jÃ¡ existente Ã© possÃ­vel lucrar com novos imÃ³veis construÃ­dos.</h3>

<h2> 2. Uma vez a casa em posse da empresa, qual o melhor momento para vendÃª-las e qual seria o preÃ§o da venda? </h2>

<h3>
    Caso a casa passe apÃ³s a reforma de 1 quarto para 3 quartos, 1 banheiro para 3 banheiros, 2 andares e uma fonte de Ã¡gua na frente da casa. Ã‰ possÃ­vel que o valor desta casa triplique facilmente, uma vez que os dados informam que essas alteraÃ§Ãµes seriam suficientes para aumentar o valor da casa em mais de 10 vezes, porÃ©m sabemos que somente essas alteraÃ§Ãµes nÃ£o seriam suficientes, seria necessÃ¡rio um maior conhecimento do mercado local, analisar seu posicionamento (zipcode) entre outros fatores que nÃ£o Ã© possÃ­vel ser analisado pelos dados. Desta forma a afirmaÃ§Ã£o de que o valor possa triplicar nÃ£o foge Ã  realidade dos dados e nem Ã  realidade dos negÃ³cios, podendo assim dar um "norte" para empresa sobre um possÃ­vel retorno na venda da casa pÃ³s reforma.
    
</h3>

<h2> 3. A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda? Quais seriam as sugestÃµes de mudanÃ§as? Qual o incremento no preÃ§o dado por cada opÃ§Ã£o de reforma? </h2>

<h3>
    <ol>
        <li> A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda?</li>
            <p style="font-size: 18px;">-Sim, seria recomendado pois como foi analisado Ã© esperado uma valorizaÃ§Ã£o apÃ³s a reforma, baseado na mÃ©dia de valores das casas reformadas e das nÃ£o reformadas.</p><br>
        <li> Quais seriam as sugestÃµes de mudanÃ§as?</li>
        <p>Como foi visto anteriormente os requisitos para uma casa com um bom valor de mercado sÃ£o os seguintes:</p>
        <p>
        * 3 a 5 banheiros.<br>
        * 2 a 5 quartos.<br>
        * 2 andares.<br>
        * 1 fonte de Ã¡gua frontal.<br>
        * vista e de preferÃªncia com o valor igual a 4.</p><br>
        <p> Os dados indicam um aumento muito absurdo, exemplo: o preÃ§o mÃ©dio de casas de um banheiro para casas com 5 banheiros Ã© de 100 vezes o preÃ§o. <br><br> A anÃ¡lise que pode ser feita Ã© de que existe um aumento no valor da casa se esta possuir mais recursos, como mais banheiros, quartos, etc. Sendo assim, pode-se dizer que os valores citados acima seriam encontrados em casas com uma maior valorizaÃ§Ã£o, mas que nÃ£o necessÃ¡riamente, vocÃª ter 5 banheiros em uma casa esta terÃ¡ sua valorizaÃ§Ã£o multiplicada por 100.</p><br>
        <li> Qual o incremento no preÃ§o dado por cada opÃ§Ã£o de reforma?</li>
        <p>Essa informaÃ§Ã£o estÃ¡ muito enviesada nos dados, uma vez que nÃ£o temos uma mesma casa (mesmo ID) que tenha construÃ­do mais um banheiro ou um quarto. Sendo assim, seria necessÃ¡rias casas que tenham havido mudanÃ§as em sua construÃ§Ã£o, por exemplo, uma casa que tenha construÃ­do mais um banheiro, para saber o impacto do mesmo no preÃ§o, isso acontecendo diversas vezes poderÃ­amos calcular um valor de valorizaÃ§Ã£o mais exato.<br>
Com os dados atuais a Ãºnica afirmaÃ§Ã£o possÃ­vel de ser feita Ã© que dado uma casa com os requisitos citados acima, o esperado Ã© que esta tenha um alto valor em relaÃ§Ã£o a casas que nÃ£o cumprem esses requisitos.
</p><br>
    </ol>
    
</h3>

In [ ]:
ax = sns.boxplot(y = DataFrame.price)

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

In [ ]:
ax = sns.boxplot(y = DataFrame.query('price < 1000000').price)

ax.figure.set_size_inches(12, 6)
ax.set_title('MÃ©dia dos preÃ§os das casas de acordo com o nÃºmero de "vista"', fontsize=18)
ax.set_xlabel('NÃºmero de "vista"', fontsize=14)
ax.set_ylabel('PreÃ§o em 10 BilhÃµes', fontsize=14)

<h1>Dado os boxplots, Ã© notada a presenÃ§a de diversos outliers que distorcem as informaÃ§Ãµes. Sendo assim, o projeto serÃ¡ refatorado dividindo as bases em duas bases de dados, Casas e Casas de Luxo.</h1>