<h1>Importando os Dados</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DataFrame = pd.read_csv('kc_house_data.csv', encoding='UTF-8', sep=";")
DataFrame.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
606,6865200444,2014-05-05,531000.0,2,3.00,1270,1175,2.0,0,0,...,8,1110,160,2000,0,98103,"47,6634","-122,3400",1290,1800
11704,5207200160,2014-10-10,490000.0,3,2.25,2380,6000,1.0,0,0,...,8,2040,340,1961,0,98115,"47,6955","-122,2750",1680,7200
15480,6131600285,2014-10-24,195500.0,4,1.00,1230,8636,1.5,0,0,...,6,1230,0,1954,0,98002,"47,3231","-122,2190",1168,8316
12223,5347200162,2014-05-28,210000.0,2,1.50,880,1157,2.0,0,0,...,7,880,0,2007,0,98126,"47,5188","-122,3760",1070,1203
18925,2325069054,2014-05-21,225000.0,2,1.00,1396,111949,1.0,0,0,...,7,1396,0,1940,1997,98053,"47,6374","-122,0070",2020,111949
13523,452001475,2014-09-02,477000.0,3,1.00,960,3600,1.0,0,0,...,7,960,0,1906,0,98117,"47,6758","-122,3690",1580,5000
7414,7214400005,2015-03-13,663500.0,2,1.00,1310,5200,1.0,0,0,...,7,910,400,1946,0,98115,"47,6784","-122,3040",1320,4794
17308,6072400470,2014-11-13,518000.0,4,2.50,2070,10244,1.0,0,0,...,8,1370,700,1969,0,98006,"47,5592","-122,1780",2070,9683
19405,9202650040,2014-09-26,401000.0,3,1.00,1120,8321,1.0,0,0,...,6,1120,0,1941,1987,98027,"47,5631","-122,0910",1980,8671
19703,301401370,2014-07-31,319900.0,4,2.75,2475,4276,2.0,0,0,...,7,2475,0,2014,0,98002,"47,3450","-122,2100",2475,4000

<h3>A empresa, House Rocket, deseja obter infromaÃ§Ãµes e o direcionamento de mercado de casas na cidade de King County, USA, para isto ela levantou as seguintes questÃµes: </h3>
<h3> 
    <ol>
    <li>Quais casas o CEO da House Rocket deveria comprar e por qual preÃ§o de compra?</li>  <br>   
    <li>Uma vez a casa em posse da empresa, qual o melhor momento para vendÃª-las e qual seria o preÃ§o da venda?</li>   <br>  
    <li> A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda? Quais seriam as sugestÃµes de mudanÃ§as? Qual o incremento no preÃ§o dado por cada opÃ§Ã£o de reforma?</li>       
    </ol>
</h3>

<h6>InformaÃ§Ãµes</h6>

sqft_basement = tamanho do porÃ£o

sqft_above = tamanho segundo andar

yr_built = ano de construÃ§Ã£o

yr_renovated = ano da reforma

In [2]:
Renovated = DataFrame[DataFrame['yr_renovated']!=0]
Unrenovated = DataFrame[DataFrame['yr_renovated']==0]

In [3]:
DataFrame.loc[0,:]

id               7129300520
date             2014-10-13
price              221900.0
bedrooms                  3
bathrooms               1.0
sqft_living            1180
sqft_lot               5650
floors                  1.0
waterfront                0
view                      0
condition                 3
grade                     7
sqft_above             1180
sqft_basement             0
yr_built               1955
yr_renovated              0
zipcode               98178
lat                 47,5112
long              -122,2570
sqft_living15          1340
sqft_lot15             5650
Name: 0, dtype: object

In [4]:
Ren = Renovated['price'].mean()
Ren

1446211405.583151

In [5]:
Unr = Unrenovated['price'].mean()
Unr

529524767.00782645

In [6]:
print(Ren - Unr)

916686638.5753247

<h3> Pelos passos acima podemos perceber que na mÃ©dia as casas reformadas sÃ£o mais valorizadas que as casas sem reforma.
    
Sendo assim seria interessante o CEO reformar a casa antes de VendÃª-la.
</h3>

<h3> Seguindo esta lÃ³gica, o recomendado seria o CEO comprar uma casa mais barata para reformar e revender.<br>
    
Primeiramente serÃ¡ indicado uma casa que esteja entre as mais antigas e consequentemente mais barata (pelo menos este Ã© o esperado).</h3>

In [7]:
Cheaper = Unrenovated[Unrenovated['yr_built'] == Unrenovated['yr_built'].min()]
CheapestElderHouse = Cheaper[Cheaper['price'] == Cheaper['price'].min()]
print(CheapestElderHouse)
CheapestElderHouse['condition']

               id        date     price  bedrooms  bathrooms  sqft_living  \
14001  2354300456  2015-03-11  130000.0         2        1.0          600

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
14001      1500     1.0           0     0  ...      4         600

       sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
14001              0      1900             0    98027  47,5289  -122,0330

      sqft_living15  sqft_lot15
14001          1130        6000

[1 rows x 21 columns]

14001    4
Name: condition, dtype: int64

In [8]:
CheapestHouse = Unrenovated[Unrenovated['price'] == Unrenovated['price'].min()]
print(CheapestHouse)
CheapestHouse['condition']

              id        date    price  bedrooms  bathrooms  sqft_living  \
1149  3421079032  2015-02-17  75000.0         1        0.0          670

      sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1149     43377     1.0           0     0  ...      3         670

      sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
1149              0      1966             0    98022  47,2638  -121,9060

     sqft_living15  sqft_lot15
1149          1160       42882

[1 rows x 21 columns]

1149    3
Name: condition, dtype: int64

<h3> Diferente do esperado, nos resultados acima foi encontrada a casa barata e mais antiga (130 mil), e tambÃ©m a mais barata independente do ano (75 mil). Analisando os preÃ§os pode-se dizer que nÃ£o existe motivos evidentes para o CEO comprar a casa mais antiga, pois ambas casas tem o espaÃ§o de construÃ§Ã£o parecido (sqft_living) e apesar da casa de 75 mil estar numa condiÃ§Ã£o pior e ter menos banheiros e quartos, isto pode ser solucionado na reforma e valorizar a casa. <br>
    
Apenas faria sentido comprar a casa antiga se fosse para moradia, pois esta estaria numa melhor condiÃ§Ã£o de moradia e teria mais recursos que a casa de 75 mil.
    
<br>
Sendo assim seria indicado que o CEO comprasse casas baratas no geral, entre 75 mil e 100mil, nÃ£o importando muito com seu tempo de construÃ§Ã£o, uma vez que este nÃ£o indica uma diminuiÃ§Ã£o nos preÃ§os e nem com suas condiÃ§Ãµes e itens como banheiros e quartos, uma vez que estes itens poderiam ser construidos numa reforma desde que o "sqft_lot" o possibilite.
</h3>

In [9]:
df = DataFrame.groupby('zipcode').mean()
ExpensiveZip = df[df['price'] == df['price'].max()]
print('ZipCode com casas mais caras em mÃ©dia', ExpensiveZip.index.values[0], 'valor mÃ©dio', df['price'].max())

ZipCode com casas mais caras em mÃ©dia 98039 valor mÃ©dio 14294837700.0

In [10]:
CheapZip = df[df['price'] == df['price'].min()]
generalMean = DataFrame['price'].mean()
print('ZipCode com casas mais baratas em mÃ©dia',CheapZip.index.values[0], 'valor mÃ©dio', df['price'].min())
print('mÃ©dia geral Ã©:', generalMean)

ZipCode com casas mais baratas em mÃ©dia 98002 valor mÃ©dio 234284.0351758794
mÃ©dia geral Ã©: 568290860.9169481

<h3> Outra variÃ¡vel que pode impactar o preÃ§o da casa Ã© a localizaÃ§Ã£o, podemos anÃ¡lisar isso atravÃ©s da coluna "zipcode", e como visto anteriormente nos resultados seria interessante evitar o zipcode 98002, jÃ¡ que sua mÃ©dia Ã© de 234.284, enquanto a mÃ©dia geral das casas em King County Ã© de 568.290.860.<br>

<br>
Sabendo o valor mÃ©dio das casas em King County, Ã© possÃ­vel afirmar que a reforma Ã© uma boa estratÃ©gia, uma vez que o valor mÃ©dio das casas reformadas, que Ã© de 1.446.211.405, Ã© maior que o valor mÃ©dio das casas em geral e das casas nÃ£o reformadas, como visto anteriormente.
</h3>

In [11]:
table = DataFrame.iloc[0:0]

count = 0
valor = DataFrame['id'].duplicated(keep=False)#vetor 'valor' com valores de true ou false para ids duplicados no BD

#LOCALIZANDO IDS IGUAIS, OU SEJA VALORES DIFERENTES DA MESMA CASA

for i in valor:#pegando os dados do BD que tem ids duplicados por meio do vetor 'valor'
    if i == True:
        table = table.append(DataFrame.loc[count,:])
        
    count+=1
        
table = table.sort_values(by=['id'])
vetorizing = table['id'].to_numpy()
vetorizing = vetorizing.tolist()
meanProfit = vetorizing   

#CALCULANDO A VALORIZAÃ‡ÃƒO/DESVALORIZAÃ‡ÃƒO PELO TEMPO ENTRE OS IDS IGUAIS E SALVANDO OS VALORES EM meanProfit

for i in range(0,len(vetorizing),1):
    if(i+1 < len(vetorizing)):
        if(vetorizing[i] == vetorizing[i+1]):
            locActual = DataFrame.loc[i,:]
            locProx = DataFrame.loc[i+1,:]
            if locActual['date'] > locProx['date']:
                meanProfit[i] =  (locActual['price']/locProx['price'])
            else:
                meanProfit[i] = (locProx['price']/locActual['price'])
        else:
            meanProfit[i] = 0
    else:
        meanProfit[i] = 0
df_meanProfit = pd.DataFrame(meanProfit, columns = ['percentage'])    
df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != 0]
#Passando de lista para DataFrame e retirando valores zerados

df_meanProfit.sort_values(by=['percentage'])

        percentage
311       0.000084
185       0.000246
235       0.000406
4         0.000416
69        0.000785
..             ...
217    2404.460813
103    3751.724138
215    5375.000000
299   11495.327103
91   718875.816993

[177 rows x 1 columns]

<h3> Ã‰ possÃ­vel perceber que tem algumas porcentagens muito extremas tanto aumentando, como um aumento de 718875.81%, quanto diminuindo, como um "aumento" de 0.000084%, ou seja, uma diminuiÃ§Ã£o. Sendo assim serÃ¡ removido tanto os 5 maiores quanto os 5 menores valores  </h3>

In [12]:
for i in range(5):
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].max()]
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].min()]
df_meanProfit.sort_values(by=['percentage'])
#Aqui jÃ¡ Ã© possÃ­vel ver valores mais 'reais', para realizaÃ§Ã£o de uma boa anÃ¡lise

     percentage
313    0.001012
269    0.002125
245    0.151250
191    0.208949
327    0.251858
..          ...
183    5.107034
20     5.194805
49     5.921053
153    6.428571
281   12.058824

[167 rows x 1 columns]

In [13]:
df_meanProfit.mean()

percentage    1.251853
dtype: float64

<h2> Pode-se inferir pelo resultado acima que com o tempo as casas tendem a se valorizar cerca de 25%.
<br><br><br>
    Sabendo disso abaixo Ã© explorado em qual mÃªs o valor de venda Ã© maior de acordo com os dados.
</h2>

In [14]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
for i in range(12):
    meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
    print('a mÃ©dia de valor no mÃªs', i+1, 'Ã© de:', format(meanMonth['price'].mean(),'.1E'))

a mÃ©dia de valor no mÃªs 1 Ã© de: 3.8E+08
a mÃ©dia de valor no mÃªs 2 Ã© de: 5.3E+08
a mÃ©dia de valor no mÃªs 3 Ã© de: 4.3E+08
a mÃ©dia de valor no mÃªs 4 Ã© de: 2.2E+08
a mÃ©dia de valor no mÃªs 5 Ã© de: 5.1E+08
a mÃ©dia de valor no mÃªs 6 Ã© de: 5.2E+08
a mÃ©dia de valor no mÃªs 7 Ã© de: 1.1E+09
a mÃ©dia de valor no mÃªs 8 Ã© de: 6.6E+08
a mÃ©dia de valor no mÃªs 9 Ã© de: 5.9E+08
a mÃ©dia de valor no mÃªs 10 Ã© de: 7.6E+08
a mÃ©dia de valor no mÃªs 11 Ã© de: 4.3E+08
a mÃ©dia de valor no mÃªs 12 Ã© de: 6.0E+08

<h2> Vimos que o valor de vendas comeÃ§a a aumentar em maio(5) atinge o auge em julho(7) e
em seguida os valores diminuem alcanÃ§ando uma baixa em novembro(11), porÃ©m se mantÃ©m com vendas acima do que no primeiro semestre.<br><br><br> Abaixo a anÃ¡lise a ser feita vai alÃ©m dos meses mas tambÃ©m em qual ano foram feitas essas vendas.</h2>

In [15]:
for j in range(2014, 2016, 1):
    for i in range(12):
        meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
        meanMonthPerYear = meanMonth[meanMonth['date'].dt.year == j]
        print('a mÃ©dia de valor no mÃªs', i+1, 'no ano de', j,'Ã© de:', format(meanMonthPerYear['price'].mean(),'.1E'))

a mÃ©dia de valor no mÃªs 1 no ano de 2014 Ã© de: NAN
a mÃ©dia de valor no mÃªs 2 no ano de 2014 Ã© de: NAN
a mÃ©dia de valor no mÃªs 3 no ano de 2014 Ã© de: NAN
a mÃ©dia de valor no mÃªs 4 no ano de 2014 Ã© de: NAN
a mÃ©dia de valor no mÃªs 5 no ano de 2014 Ã© de: 3.1E+08
a mÃ©dia de valor no mÃªs 6 no ano de 2014 Ã© de: 5.2E+08
a mÃ©dia de valor no mÃªs 7 no ano de 2014 Ã© de: 1.1E+09
a mÃ©dia de valor no mÃªs 8 no ano de 2014 Ã© de: 6.6E+08
a mÃ©dia de valor no mÃªs 9 no ano de 2014 Ã© de: 5.9E+08
a mÃ©dia de valor no mÃªs 10 no ano de 2014 Ã© de: 7.6E+08
a mÃ©dia de valor no mÃªs 11 no ano de 2014 Ã© de: 4.3E+08
a mÃ©dia de valor no mÃªs 12 no ano de 2014 Ã© de: 6.0E+08
a mÃ©dia de valor no mÃªs 1 no ano de 2015 Ã© de: 3.8E+08
a mÃ©dia de valor no mÃªs 2 no ano de 2015 Ã© de: 5.3E+08
a mÃ©dia de valor no mÃªs 3 no ano de 2015 Ã© de: 4.3E+08
a mÃ©dia de valor no mÃªs 4 no ano de 2015 Ã© de: 2.2E+08
a mÃ©dia de valor no mÃªs 5 no ano de 2015 Ã© de: 1.0E+09
a mÃ©dia de valor no mÃªs 6 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 7 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 8 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 9 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 10 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 11 no ano de 2015 Ã© de: NAN
a mÃ©dia de valor no mÃªs 12 no ano de 2015 Ã© de: NAN

<h2> Nesta anÃ¡lise vÃª-se que os dados confirmam a ideia de que as vendas a partir de julho tendem a ser maiores e tambÃ©m Ã© possÃ­vel inferir uma valorizaÃ§Ã£o nas casas de 2014 para 2015, desta forma uma estratÃ©gia de negÃ³cio seria esperar a valorizaÃ§Ã£o do imÃ³vel de um ano para o outro, se esta for uma opÃ§Ã£o viÃ¡vel.<br><br><br> A anÃ¡lise abaixo busca compreender o impacto do nÃºmero de banheiros no valor da casa.</h2>

In [16]:
bathrooms = DataFrame['bathrooms'].value_counts().sort_index()
save = bathrooms.tolist()
#print(bathrooms)
for i in range(len(bathrooms)):
    if i>3:
        meanVal = DataFrame[DataFrame['bathrooms'] == (i/4)]
        print('a mÃ©dia de valor para', i*0.25, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i-3] = (meanVal['price'].mean())
    else:
        if i == 0:
            meanVal = DataFrame[DataFrame['bathrooms'] == i]
            print('a mÃ©dia de valor para', i, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[i] = (meanVal['price'].mean())
            
        elif i==1:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.5]
            print('a mÃ©dia de valor para', 7.5, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[27] = (meanVal['price'].mean())
            
        elif i==2:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.75]
            print('a mÃ©dia de valor para', 7.75, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[28] = (meanVal['price'].mean())

        elif i==3:
            meanVal = DataFrame[DataFrame['bathrooms'] == 8]
            print('a mÃ©dia de valor para', 8, 'banheiros Ã© de:', format(meanVal['price'].mean(),'.1E'))
            save[29] = (meanVal['price'].mean())

a mÃ©dia de valor para 0 banheiros Ã© de: 1.3E+10
a mÃ©dia de valor para 7.5 banheiros Ã© de: 4.5E+05
a mÃ©dia de valor para 7.75 banheiros Ã© de: 6.9E+09
a mÃ©dia de valor para 8 banheiros Ã© de: 5.0E+06
a mÃ©dia de valor para 1.0 banheiros Ã© de: 2.7E+07
a mÃ©dia de valor para 1.25 banheiros Ã© de: 2.9E+08
a mÃ©dia de valor para 1.5 banheiros Ã© de: 8.2E+06
a mÃ©dia de valor para 1.75 banheiros Ã© de: 6.2E+07
a mÃ©dia de valor para 2.0 banheiros Ã© de: 2.4E+07
a mÃ©dia de valor para 2.25 banheiros Ã© de: 2.8E+08
a mÃ©dia de valor para 2.5 banheiros Ã© de: 2.9E+08
a mÃ©dia de valor para 2.75 banheiros Ã© de: 8.6E+08
a mÃ©dia de valor para 3.0 banheiros Ã© de: 6.6E+08
a mÃ©dia de valor para 3.25 banheiros Ã© de: 3.5E+09
a mÃ©dia de valor para 3.5 banheiros Ã© de: 2.9E+09
a mÃ©dia de valor para 3.75 banheiros Ã© de: 3.8E+09
a mÃ©dia de valor para 4.0 banheiros Ã© de: 6.9E+09
a mÃ©dia de valor para 4.25 banheiros Ã© de: 7.3E+09
a mÃ©dia de valor para 4.5 banheiros Ã© de: 9.0E+09
a mÃ©dia de valor para 4.75 banheiros Ã© de: 2.2E+10
a mÃ©dia de valor para 5.0 banheiros Ã© de: 6.9E+09
a mÃ©dia de valor para 5.25 banheiros Ã© de: 4.7E+09
a mÃ©dia de valor para 5.5 banheiros Ã© de: 5.5E+08
a mÃ©dia de valor para 5.75 banheiros Ã© de: 2.5E+06
a mÃ©dia de valor para 6.0 banheiros Ã© de: 1.6E+09
a mÃ©dia de valor para 6.25 banheiros Ã© de: 1.4E+09
a mÃ©dia de valor para 6.5 banheiros Ã© de: 1.1E+11
a mÃ©dia de valor para 6.75 banheiros Ã© de: 2.3E+09
a mÃ©dia de valor para 7.0 banheiros Ã© de: NAN
a mÃ©dia de valor para 7.25 banheiros Ã© de: NAN

<h2> Os dados da base nÃ£o sÃ£o muito claros quanto as quantidades dos banheiros, ou seja, nÃ£o Ã© explicitado o que sÃ£o 3.75 banheiros.<br> Desta forma a anÃ¡lise abaixo busca entender apenas os valores exatos.</h2>

In [17]:
for i in range(len(save)):
    if (i-1) % 4 == 0:
        print('banheiros', 1+(i-1)/4,'mÃ©dia:', format(save[i],'.1E'))
    elif i == 0:
        print('banheiros', (i/4),'mÃ©dia:', format(save[i],'.1E'))

banheiros 0.0 mÃ©dia: 1.3E+10
banheiros 1.0 mÃ©dia: 2.7E+07
banheiros 2.0 mÃ©dia: 2.4E+07
banheiros 3.0 mÃ©dia: 6.6E+08
banheiros 4.0 mÃ©dia: 6.9E+09
banheiros 5.0 mÃ©dia: 6.9E+09
banheiros 6.0 mÃ©dia: 1.6E+09
banheiros 7.0 mÃ©dia: NAN
banheiros 8.0 mÃ©dia: 5.0E+06

<h2> Desconsiderando as casas com 0 banheiros, que obtÃªm uma valorizaÃ§Ã£o muito superior aos outros imÃ³veis por motivos nÃ£o compreensÃ­veis, vemos que uma boa casa em termos de valorizaÃ§Ã£o deve ter ao menos 3 banheiros, pois com 1 ou 2 banheiros o valor nÃ£o sofre grande alteraÃ§Ãµes, mas a partir de 3 banheiros Ã© notÃ¡vel a valorizaÃ§Ã£o das casas e o limite da valorizaÃ§Ã£o Ã© em 6 banheiros, pois utilizando as informaÃ§Ãµes vemos que a partir de 6 banheiros existe uma desvalorizaÃ§Ã£o nas mÃ©dias dos imÃ³veis.<br><br><br> As anÃ¡lises abaixo serÃ£o feitas de mesma forma, mas levarÃ¡ em conta o nÃºmero de quartos, andares, fontes de Ã¡gua frontal e view(que eu assumi como vista para pontos turÃ­sticos ou entÃ£o paisagens).</h2>

In [18]:
bedrooms = DataFrame['bedrooms'].value_counts().sort_index()
save = bedrooms.tolist()
#print(bedrooms)
for i in range(len(bedrooms)):
    if i == 12:
        meanVal = DataFrame[DataFrame['bedrooms'] == 33]
        print('a mÃ©dia de valor para', 33, 'quartos Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())
    else:    
        meanVal = DataFrame[DataFrame['bedrooms'] == i]
        print('a mÃ©dia de valor para', i, 'quarto(s) Ã© de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())

a mÃ©dia de valor para 0 quarto(s) Ã© de: 1.0E+10
a mÃ©dia de valor para 1 quarto(s) Ã© de: 6.6E+06
a mÃ©dia de valor para 2 quarto(s) Ã© de: 1.1E+08
a mÃ©dia de valor para 3 quarto(s) Ã© de: 1.3E+08
a mÃ©dia de valor para 4 quarto(s) Ã© de: 7.7E+08
a mÃ©dia de valor para 5 quarto(s) Ã© de: 3.1E+09
a mÃ©dia de valor para 6 quarto(s) Ã© de: 6.9E+08
a mÃ©dia de valor para 7 quarto(s) Ã© de: 1.1E+08
a mÃ©dia de valor para 8 quarto(s) Ã© de: 1.1E+06
a mÃ©dia de valor para 9 quarto(s) Ã© de: 8.9E+05
a mÃ©dia de valor para 10 quarto(s) Ã© de: 3.8E+08
a mÃ©dia de valor para 11 quarto(s) Ã© de: 5.2E+05
a mÃ©dia de valor para 33 quartos Ã© de: 6.4E+05

<h2> A partir da anÃ¡lise acima Ã© possÃ­vel concluir que o nÃºmero adequado de quartos para uma boa valorizaÃ§Ã£o do imÃ³vel Ã© entre 2 a 5, no mÃ¡ximo 6, quartos. </h2>

In [19]:
floors = DataFrame['floors'].value_counts().sort_index()
save = floors.tolist()
#print(floors)
for i in range(len(floors)):
    meanVal = DataFrame[DataFrame['floors'] == ((i*0.5)+1)]
    print('a mÃ©dia de valor para', ((i*0.5)+1), 'andar(es) Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a mÃ©dia de valor para 1.0 andar(es) Ã© de: 1.7E+08
a mÃ©dia de valor para 1.5 andar(es) Ã© de: 3.6E+08
a mÃ©dia de valor para 2.0 andar(es) Ã© de: 1.1E+09
a mÃ©dia de valor para 2.5 andar(es) Ã© de: 1.3E+09
a mÃ©dia de valor para 3.0 andar(es) Ã© de: 5.5E+08
a mÃ©dia de valor para 3.5 andar(es) Ã© de: 1.4E+08

<h2> Assim como nos dados sobre banheiros, nos dados de andares tambÃ©m temos valores alÃ©m dos inteiros/naturais, anÃ¡lisando apenas os valores do "mundo real", ou seja, 1, 2 ou 3 andares, vemos que o ideal do imÃ³vel Ã© ter 2 andares.</h2>

In [20]:
waterfront = DataFrame['waterfront'].value_counts().sort_index()
save = waterfront.tolist()
#print(waterfront)
for i in range(len(waterfront)):
    meanVal = DataFrame[DataFrame['waterfront'] == i]
    print('a mÃ©dia de valor para', i, 'fonte de Ã¡gua frontal Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a mÃ©dia de valor para 0 fonte de Ã¡gua frontal Ã© de: 5.5E+08
a mÃ©dia de valor para 1 fonte de Ã¡gua frontal Ã© de: 2.6E+09

<h2> Sobre os resultados acima, vemos que, se o espaÃ§o da casa suporta, seria interessante ter uma fonte de Ã¡gua frontal, pois isso muito provavelmente geraria um aumento no valor da casa.</h2>

In [21]:
view = DataFrame['view'].value_counts().sort_index()
save = view.tolist()
#print(view)
for i in range(len(view)):
    meanVal = DataFrame[DataFrame['view'] == i]
    print('a mÃ©dia de valor para', i, 'vista(s) Ã© de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a mÃ©dia de valor para 0 vista(s) Ã© de: 3.8E+08
a mÃ©dia de valor para 1 vista(s) Ã© de: 1.9E+09
a mÃ©dia de valor para 2 vista(s) Ã© de: 1.3E+09
a mÃ©dia de valor para 3 vista(s) Ã© de: 2.7E+09
a mÃ©dia de valor para 4 vista(s) Ã© de: 4.9E+09

<h2> Pelos dados acima pode-se dizer que Ã© interessante para a empresa observar quais casas possuem uma(1) vista no mÃ­nimo e de preferÃªncia 4 vistas.</h2>


<br>
<br>
<br>

<h2>Respondendo as perguntas do inÃ­cio:</h2>

<h2> 1. Quais casas o CEO da House Rocket deveria comprar e por qual preÃ§o de compra? </h2>

<h3>Em resumo as casas que o CEO da House Rocket deveria comprar sÃ£o:
    <ol>
        <li>Casas com valores menores que 200 mil</li>
        <li>De preferÃªncia casas passÃ­veis de serem reformadas, ou seja, que nÃ£o tenham sido reformadas.</li>
        <li>De preferÃªncia casas no ZipCode 98039.</li>
        <li>Casas de 3 a 5 banheiros, e caso nÃ£o tenha ao ser comprado Ã© indicada a contruÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas de 2 a 5 quartos, e caso nÃ£o tenha ao ser comprado Ã© indicada a contruÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas de 2 andares, e caso nÃ£o tenha ao ser comprado Ã© indicada a contruÃ§Ã£o dos mesmos na reforma.</li>
        <li>Casas com 1 fonte de Ã¡gua fronta, e caso nÃ£o tenha ao ser comprado Ã© indicada a contruÃ§Ã£o da mesma na reforma.</li>
        <li>Casas com vista e de preferÃªncia com o valor igual a 4.</li>
    </ol>
</h3>

In [22]:
wantedHouses = DataFrame.iloc[0:0]

#1
df1 = DataFrame[DataFrame['price'] < 200000]

#2
#df1 = df1[df1['zipcode'] == 98039]

#4

wantedHouses = wantedHouses.append(df1[df1['bathrooms'] <= 5])

#5
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['bedrooms'] <= 5]

#6
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['floors'] <= 2]

#7 nÃ£o hÃ¡ casas que tenham fonte
wantedHouses = wantedHouses.loc[wantedHouses['waterfront'] <= 1]

#8

wantedHouses = wantedHouses[wantedHouses['view'] > 0]

wantedHouses.sort_values(by = 'price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4768,4045500130,2014-09-09,154000.0,2,1.00,1040,20524,1.0,0,3,...,6,1040,0,1949,1989,98014,"47,6981","-121,8750",1880,38996
1626,5016003230,2015-02-18,169317.0,2,1.00,790,4000,1.0,0,2,...,7,790,0,1908,0,98112,"47,6248","-122,3010",1700,4200
16842,226109056,2015-03-26,170000.0,1,0.75,850,5600,1.0,0,2,...,6,850,0,1903,1994,98019,"47,7654","-121,4800",900,12250
1849,6052400575,2014-05-14,175000.0,2,1.00,1170,8925,1.0,0,2,...,6,1170,0,1911,0,98198,"47,4017","-122,3210",1380,7440
15248,1320069249,2014-10-20,192500.0,1,1.00,470,63737,1.0,0,2,...,5,470,0,1924,0,98022,"47,2163","-121,9840",1350,46762

In [23]:
DataFrame['sqft_lot'].mean()

15106.967565816869

<h3> Essas seriam as 5 melhores opÃ§Ãµes. Dado as condiÃ§Ãµes possÃ­veis, uma vez que no zipcode preferencial nÃ£o estÃ£o dentro da faixa de preÃ§o.
    <br><br>
A melhor opÃ§Ã£o seria o imÃ³vel de id igual a 1320069249 com o valor de 192mil, pois Ã© uma casa que atende os requisitos e dado ao seu grande espaÃ§o de terreno apÃ³s uma reforma a empresa conseguiria ter um lucro com a casa, uma vez que uma casa renovada tem a espectativa de aumento, alÃ©m das outras melhorias possÃ­veis de novos quartos, banheiros, andares e uma fonte de Ã¡gua tambÃ©m podem aumentar o lucro, e por fim ainda sobrar espaÃ§o no terreno. 
    <br><br>
    Tudo isso levado em conta, Ã© possÃ­vel que a divisÃ£o deste terreno seja utilizado para construÃ§Ã£o de novas casas, pois o terreno deste imÃ³vel Ã© enorme, dado por "sqft_lot" = 63737, sendo 4 vezes o tamanho mÃ©dio dos imÃ³veis, desta forma alÃ©m de lucrar com a reforma na casa jÃ¡ existente Ã© possÃ­vel lucrar com novos imÃ³veis contruÃ­dos.</h3>

<h2> 2. Uma vez a casa em posse da empresa, qual o melhor momento para vendÃª-las e qual seria o preÃ§o da venda? </h2>

<h3>
    Caso a casa passe apÃ³s a reforma de 1 quarto para 3 quartos, 1 banheiro para 3 banheiros, 2 andares e uma fonte de Ã¡gua na frente da casa. Ã‰ possÃ­vel que o valor desta casa triplique facilmente, uma vez que os dados informam que essas alterÃ§Ãµes seriam suficientes para aumentar o valor da casa em mais de 10 vezes, porÃ©m sabemos que somente essas alteraÃ§Ãµes nÃ£o seriam suficientes, seria necessÃ¡rio um maior conhecimento do mercado local, analisar seu posicionamento(zipcode) entre outros fatores que nÃ£o Ã© possÃ­vel ser analisado pelos dados. Desta forma a afirmaÃ§Ã£o de que o valor possa triplicar nÃ£o foge a realidade dos dados e ao mesmo tempo nÃ£o foge a realidade dos negÃ³cios, podendo assim dar um "norte" para empresa sobre um possÃ­vel retorno na venda da casa pÃ³s reforma.
    
</h3>

<h2> 3. A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda? Quais seriam as sugestÃµes de mudanÃ§as? Qual o incremento no preÃ§o dado por cada opÃ§Ã£o de reforma? </h2>

<h3>
    <ol>
        <li> A House Rocket deveria fazer uma reforma para aumentar o preÃ§o da venda?</li>
            <p style="font-size: 14px;">-Sim, seria recomendado pois como foi analisado Ã© esperado uma valorizaÃ§Ã£o apÃ³s a reforma, baseado na mÃ©dia de valores das casas reformadas e das nÃ£o reformadas.</p><br>
        <li> Quais seriam as sugestÃµes de mudanÃ§as?</li>
            <p>Como foi visto anteriormente os requisitos para uma casa com um bom valor de mercado sÃ£o os seguintes:</p>
        <p>
        * 3 a 5 banheiros.<br>
        * 2 a 5 quartos.<br>
        * 2 andares.<br>
        * 1 fonte de Ã¡gua fronta.<br>
        * vista e de preferÃªncia com o valor igual a 4.</p><br>
        <p> Os dados indicam um aumento muito absurdo, exemplo: o preÃ§o mÃ©dio de casas de um banheiro para casas com 5 banheiros Ã© de 100 vezes o preÃ§o. <br><br> A anÃ¡lise que pode ser feita Ã© de que existe um aumento no valor da casa se esta possuir mais recursos, como mais banheiros, quartos, etc. Sendo assim, pode-se dizer que os valores citados acima seriam encontrados em casas com uma maior valorizaÃ§Ã£o, mas que nÃ£o necessÃ¡riamente, vocÃª ter 5 banheiros em uma casa esta terÃ¡ sua valorizaÃ§Ã£o multiplicada por 100.</p>

    
</h3>