<h1>Importando os Dados</h1>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DataFrame = pd.read_csv('kc_house_data.csv', encoding='UTF-8', sep=";")
DataFrame.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4318,8113100850,2015-04-10,402500.0,3,1.00,1290,4000,1.5,0,0,...,7,1290,0,1926,0,98118,"47,5462","-122,2770",1160,5040
10874,8653900070,2014-08-04,791500.0,4,2.50,3250,8970,2.0,0,0,...,10,3250,0,1994,0,98075,"47,5862","-122,0370",3240,8449
20845,993002108,2015-03-30,399995.0,3,1.50,1140,1069,3.0,0,0,...,8,1140,0,2005,0,98103,"47,6907","-122,3420",1230,1276
12483,9528102110,2014-09-17,517000.0,3,2.25,1640,4635,1.5,0,0,...,8,1540,100,1930,0,98115,"47,6793","-122,3190",1530,4635
5414,8058500005,2015-02-03,290000.0,2,1.00,1620,5400,1.0,0,0,...,6,920,700,1926,0,98125,"47,7069","-122,2990",1540,7245
18521,3600072,2015-03-30,680000.0,4,2.75,2220,5310,1.0,0,0,...,7,1170,1050,1951,0,98144,"47,5801","-122,2940",1540,4200
2094,6083000083,2014-06-11,248000.0,5,1.50,1510,9078,1.0,0,0,...,7,1510,0,1959,0,98168,"47,4852","-122,3050",1480,9078
5518,1525059215,2015-02-24,815000.0,5,2.25,3410,35536,2.0,0,0,...,10,2530,880,1974,0,98005,"47,6500","-122,1550",3140,43453
9097,5419801120,2015-01-13,314000.0,3,2.75,1900,8200,2.0,0,0,...,7,1900,0,1984,0,98031,"47,4020","-122,1830",1620,8200
10090,2621420060,2014-07-28,275000.0,4,2.50,2060,5742,2.0,0,0,...,7,2060,0,1999,0,98030,"47,3612","-122,1850",1610,7298

<h3>A empresa, House Rocket, deseja obter infromações e o direcionamento de mercado de casas na cidade de King County, USA, para isto ela levantou as seguintes questões: </h3>
<h3> 
    <ol>
    <li>Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra?</li>  <br>   
    <li>Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda?</li>   <br>  
    <li> A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?</li>       
    </ol>
</h3>

<h6>Informações</h6>

sqft_basement = tamanho do porão

sqft_above = tamanho segundo andar

yr_built = ano de construção

yr_renovated = ano da reforma

In [30]:
Renovated = DataFrame[DataFrame['yr_renovated']!=0]
Unrenovated = DataFrame[DataFrame['yr_renovated']==0]

In [31]:
DataFrame.loc[0,:]

id               7129300520
date             2014-10-13
price              221900.0
bedrooms                  3
bathrooms               1.0
sqft_living            1180
sqft_lot               5650
floors                  1.0
waterfront                0
view                      0
condition                 3
grade                     7
sqft_above             1180
sqft_basement             0
yr_built               1955
yr_renovated              0
zipcode               98178
lat                 47,5112
long              -122,2570
sqft_living15          1340
sqft_lot15             5650
Name: 0, dtype: object

In [32]:
Ren = Renovated['price'].mean()
Ren

1446211405.583151

In [33]:
Unr = Unrenovated['price'].mean()
Unr

529524767.00782645

In [34]:
print(Ren - Unr)

916686638.5753247

<h3> Pelos passos acima podemos perceber que na média as casas reformadas são mais valorizadas que as casas sem reforma.
    
Sendo assim seria interessante o CEO reformar a casa antes de Vendê-la.
</h3>

<h3> Seguindo esta lógica, o recomendado seria o CEO comprar uma casa mais barata para reformar e revender.<br>
    
Primeiramente será indicado uma casa que esteja entre as mais antigas e consequentemente mais barata (pelo menos este é o esperado).</h3>

In [35]:
Cheaper = Unrenovated[Unrenovated['yr_built'] == Unrenovated['yr_built'].min()]
CheapestElderHouse = Cheaper[Cheaper['price'] == Cheaper['price'].min()]
print(CheapestElderHouse)
CheapestElderHouse['condition']

               id        date     price  bedrooms  bathrooms  sqft_living  \
14001  2354300456  2015-03-11  130000.0         2        1.0          600

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
14001      1500     1.0           0     0  ...      4         600

       sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
14001              0      1900             0    98027  47,5289  -122,0330

      sqft_living15  sqft_lot15
14001          1130        6000

[1 rows x 21 columns]

14001    4
Name: condition, dtype: int64

In [36]:
CheapestHouse = Unrenovated[Unrenovated['price'] == Unrenovated['price'].min()]
print(CheapestHouse)
CheapestHouse['condition']

              id        date    price  bedrooms  bathrooms  sqft_living  \
1149  3421079032  2015-02-17  75000.0         1        0.0          670

      sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1149     43377     1.0           0     0  ...      3         670

      sqft_basement  yr_built  yr_renovated  zipcode      lat       long  \
1149              0      1966             0    98022  47,2638  -121,9060

     sqft_living15  sqft_lot15
1149          1160       42882

[1 rows x 21 columns]

1149    3
Name: condition, dtype: int64

<h3> Diferente do esperado, nos resultados acima foi encontrada a casa barata e mais antiga (130 mil), e também a mais barata independente do ano (75 mil). Analisando os preços pode-se dizer que não existe motivos evidentes para o CEO comprar a casa mais antiga, pois ambas casas tem o espaço de construção parecido (sqft_living) e apesar da casa de 75 mil estar numa condição pior e ter menos banheiros e quartos, isto pode ser solucionado na reforma e valorizar a casa. <br>
    
Apenas faria sentido comprar a casa antiga se fosse para moradia, pois esta estaria numa melhor condição de moradia e teria mais recursos que a casa de 75 mil.
    
<br>
Sendo assim seria indicado que o CEO comprasse casas baratas no geral, entre 75 mil e 100mil, não importando muito com seu tempo de construção, uma vez que este não indica uma diminuição nos preços e nem com suas condições e itens como banheiros e quartos, uma vez que estes itens poderiam ser construidos numa reforma desde que o "sqft_lot" o possibilite.
</h3>

In [37]:
df = DataFrame.groupby('zipcode').mean()
ExpensiveZip = df[df['price'] == df['price'].max()]
print('ZipCode com casas mais caras em média', ExpensiveZip.index.values[0], 'valor médio', df['price'].max())

ZipCode com casas mais caras em média 98039 valor médio 14294837700.0

In [38]:
CheapZip = df[df['price'] == df['price'].min()]
generalMean = DataFrame['price'].mean()
print('ZipCode com casas mais baratas em média',CheapZip.index.values[0], 'valor médio', df['price'].min())
print('média geral é:', generalMean)

ZipCode com casas mais baratas em média 98002 valor médio 234284.0351758794
média geral é: 568290860.9169481

<h3> Outra variável que pode impactar o preço da casa é a localização, podemos análisar isso através da coluna "zipcode", e como visto anteriormente nos resultados seria interessante evitar o zipcode 98002, já que sua média é de 234.284, enquanto a média geral das casas em King County é de 568.290.860.<br>

<br>
Sabendo o valor médio das casas em King County, é possível afirmar que a reforma é uma boa estratégia, uma vez que o valor médio das casas reformadas, que é de 1.446.211.405, é maior que o valor médio das casas em geral e das casas não reformadas, como visto anteriormente.
</h3>

In [39]:
table = DataFrame.iloc[0:0]

count = 0
valor = DataFrame['id'].duplicated(keep=False)#vetor 'valor' com valores de true ou false para ids duplicados no BD

#LOCALIZANDO IDS IGUAIS, OU SEJA VALORES DIFERENTES DA MESMA CASA

for i in valor:#pegando os dados do BD que tem ids duplicados por meio do vetor 'valor'
    if i == True:
        table = table.append(DataFrame.loc[count,:])
        
    count+=1
        
table = table.sort_values(by=['id'])
vetorizing = table['id'].to_numpy()
vetorizing = vetorizing.tolist()
meanProfit = vetorizing   

#CALCULANDO A VALORIZAÇÃO/DESVALORIZAÇÃO PELO TEMPO ENTRE OS IDS IGUAIS E SALVANDO OS VALORES EM meanProfit

for i in range(0,len(vetorizing),1):
    if(i+1 < len(vetorizing)):
        if(vetorizing[i] == vetorizing[i+1]):
            locActual = DataFrame.loc[i,:]
            locProx = DataFrame.loc[i+1,:]
            if locActual['date'] > locProx['date']:
                meanProfit[i] =  (locActual['price']/locProx['price'])
            else:
                meanProfit[i] = (locProx['price']/locActual['price'])
        else:
            meanProfit[i] = 0
    else:
        meanProfit[i] = 0
df_meanProfit = pd.DataFrame(meanProfit, columns = ['percentage'])    
df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != 0]
#Passando de lista para DataFrame e retirando valores zerados

df_meanProfit.sort_values(by=['percentage'])

        percentage
311       0.000084
185       0.000246
235       0.000406
4         0.000416
69        0.000785
..             ...
217    2404.460813
103    3751.724138
215    5375.000000
299   11495.327103
91   718875.816993

[177 rows x 1 columns]

<h3> É possível perceber que tem algumas porcentagens muito extremas tanto aumentando, como um aumento de 718875.81%, quanto diminuindo, como um "aumento" de 0.000084%, ou seja, uma diminuição. Sendo assim será removido tanto os 5 maiores quanto os 5 menores valores  </h3>

In [40]:
for i in range(5):
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].max()]
    df_meanProfit = df_meanProfit[df_meanProfit['percentage'] != df_meanProfit['percentage'].min()]
df_meanProfit.sort_values(by=['percentage'])
#Aqui já é possível ver valores mais 'reais', para realização de uma boa análise

     percentage
313    0.001012
269    0.002125
245    0.151250
191    0.208949
327    0.251858
..          ...
183    5.107034
20     5.194805
49     5.921053
153    6.428571
281   12.058824

[167 rows x 1 columns]

In [41]:
df_meanProfit.mean()

percentage    1.251853
dtype: float64

<h2> Pode-se inferir pelo resultado acima que com o tempo as casas tendem a se valorizar cerca de 25%.
<br><br><br>
    Sabendo disso abaixo é explorado em qual mês o valor de venda é maior de acordo com os dados.
</h2>

In [42]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
for i in range(12):
    meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
    print('a média de valor no mês', i+1, 'é de:', format(meanMonth['price'].mean(),'.1E'))

a média de valor no mês 1 é de: 3.8E+08
a média de valor no mês 2 é de: 5.3E+08
a média de valor no mês 3 é de: 4.3E+08
a média de valor no mês 4 é de: 2.2E+08
a média de valor no mês 5 é de: 5.1E+08
a média de valor no mês 6 é de: 5.2E+08
a média de valor no mês 7 é de: 1.1E+09
a média de valor no mês 8 é de: 6.6E+08
a média de valor no mês 9 é de: 5.9E+08
a média de valor no mês 10 é de: 7.6E+08
a média de valor no mês 11 é de: 4.3E+08
a média de valor no mês 12 é de: 6.0E+08

<h2> Vimos que o valor de vendas começa a aumentar em maio(5) atinge o auge em julho(7) e
em seguida os valores diminuem alcançando uma baixa em novembro(11), porém se mantém com vendas acima do que no primeiro semestre.<br><br><br> Abaixo a análise a ser feita vai além dos meses mas também em qual ano foram feitas essas vendas.</h2>

In [43]:
for j in range(2014, 2016, 1):
    for i in range(12):
        meanMonth = DataFrame[DataFrame['date'].dt.month == i+1]
        meanMonthPerYear = meanMonth[meanMonth['date'].dt.year == j]
        print('a média de valor no mês', i+1, 'no ano de', j,'é de:', format(meanMonthPerYear['price'].mean(),'.1E'))

a média de valor no mês 1 no ano de 2014 é de: NAN
a média de valor no mês 2 no ano de 2014 é de: NAN
a média de valor no mês 3 no ano de 2014 é de: NAN
a média de valor no mês 4 no ano de 2014 é de: NAN
a média de valor no mês 5 no ano de 2014 é de: 3.1E+08
a média de valor no mês 6 no ano de 2014 é de: 5.2E+08
a média de valor no mês 7 no ano de 2014 é de: 1.1E+09
a média de valor no mês 8 no ano de 2014 é de: 6.6E+08
a média de valor no mês 9 no ano de 2014 é de: 5.9E+08
a média de valor no mês 10 no ano de 2014 é de: 7.6E+08
a média de valor no mês 11 no ano de 2014 é de: 4.3E+08
a média de valor no mês 12 no ano de 2014 é de: 6.0E+08
a média de valor no mês 1 no ano de 2015 é de: 3.8E+08
a média de valor no mês 2 no ano de 2015 é de: 5.3E+08
a média de valor no mês 3 no ano de 2015 é de: 4.3E+08
a média de valor no mês 4 no ano de 2015 é de: 2.2E+08
a média de valor no mês 5 no ano de 2015 é de: 1.0E+09
a média de valor no mês 6 no ano de 2015 é de: NAN
a média de valor no mês 7 no ano de 2015 é de: NAN
a média de valor no mês 8 no ano de 2015 é de: NAN
a média de valor no mês 9 no ano de 2015 é de: NAN
a média de valor no mês 10 no ano de 2015 é de: NAN
a média de valor no mês 11 no ano de 2015 é de: NAN
a média de valor no mês 12 no ano de 2015 é de: NAN

<h2> Nesta análise vê-se que os dados confirmam a ideia de que as vendas a partir de julho tendem a ser maiores e também é possível inferir uma valorização nas casas de 2014 para 2015, desta forma uma estratégia de negócio seria esperar a valorização do imóvel de um ano para o outro, se esta for uma opção viável.<br><br><br> A análise abaixo busca compreender o impacto do número de banheiros no valor da casa.</h2>

In [44]:
bathrooms = DataFrame['bathrooms'].value_counts().sort_index()
save = bathrooms.tolist()
#print(bathrooms)
for i in range(len(bathrooms)):
    if i>3:
        meanVal = DataFrame[DataFrame['bathrooms'] == (i/4)]
        print('a média de valor para', i*0.25, 'banheiros é de:', format(meanVal['price'].mean(),'.1E'))
        save[i-3] = (meanVal['price'].mean())
    else:
        if i == 0:
            meanVal = DataFrame[DataFrame['bathrooms'] == i]
            print('a média de valor para', i, 'banheiros é de:', format(meanVal['price'].mean(),'.1E'))
            save[i] = (meanVal['price'].mean())
            
        elif i==1:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.5]
            print('a média de valor para', 7.5, 'banheiros é de:', format(meanVal['price'].mean(),'.1E'))
            save[27] = (meanVal['price'].mean())
            
        elif i==2:
            meanVal = DataFrame[DataFrame['bathrooms'] == 7.75]
            print('a média de valor para', 7.75, 'banheiros é de:', format(meanVal['price'].mean(),'.1E'))
            save[28] = (meanVal['price'].mean())

        elif i==3:
            meanVal = DataFrame[DataFrame['bathrooms'] == 8]
            print('a média de valor para', 8, 'banheiros é de:', format(meanVal['price'].mean(),'.1E'))
            save[29] = (meanVal['price'].mean())

a média de valor para 0 banheiros é de: 1.3E+10
a média de valor para 7.5 banheiros é de: 4.5E+05
a média de valor para 7.75 banheiros é de: 6.9E+09
a média de valor para 8 banheiros é de: 5.0E+06
a média de valor para 1.0 banheiros é de: 2.7E+07
a média de valor para 1.25 banheiros é de: 2.9E+08
a média de valor para 1.5 banheiros é de: 8.2E+06
a média de valor para 1.75 banheiros é de: 6.2E+07
a média de valor para 2.0 banheiros é de: 2.4E+07
a média de valor para 2.25 banheiros é de: 2.8E+08
a média de valor para 2.5 banheiros é de: 2.9E+08
a média de valor para 2.75 banheiros é de: 8.6E+08
a média de valor para 3.0 banheiros é de: 6.6E+08
a média de valor para 3.25 banheiros é de: 3.5E+09
a média de valor para 3.5 banheiros é de: 2.9E+09
a média de valor para 3.75 banheiros é de: 3.8E+09
a média de valor para 4.0 banheiros é de: 6.9E+09
a média de valor para 4.25 banheiros é de: 7.3E+09
a média de valor para 4.5 banheiros é de: 9.0E+09
a média de valor para 4.75 banheiros é de: 2.2E+10
a média de valor para 5.0 banheiros é de: 6.9E+09
a média de valor para 5.25 banheiros é de: 4.7E+09
a média de valor para 5.5 banheiros é de: 5.5E+08
a média de valor para 5.75 banheiros é de: 2.5E+06
a média de valor para 6.0 banheiros é de: 1.6E+09
a média de valor para 6.25 banheiros é de: 1.4E+09
a média de valor para 6.5 banheiros é de: 1.1E+11
a média de valor para 6.75 banheiros é de: 2.3E+09
a média de valor para 7.0 banheiros é de: NAN
a média de valor para 7.25 banheiros é de: NAN

<h2> Os dados da base não são muito claros quanto as quantidades dos banheiros, ou seja, não é explicitado o que são 3.75 banheiros.<br> Desta forma a análise abaixo busca entender apenas os valores exatos.</h2>

In [45]:
for i in range(len(save)):
    if (i-1) % 4 == 0:
        print('banheiros', 1+(i-1)/4,'média:', format(save[i],'.1E'))
    elif i == 0:
        print('banheiros', (i/4),'média:', format(save[i],'.1E'))

banheiros 0.0 média: 1.3E+10
banheiros 1.0 média: 2.7E+07
banheiros 2.0 média: 2.4E+07
banheiros 3.0 média: 6.6E+08
banheiros 4.0 média: 6.9E+09
banheiros 5.0 média: 6.9E+09
banheiros 6.0 média: 1.6E+09
banheiros 7.0 média: NAN
banheiros 8.0 média: 5.0E+06

<h2> Desconsiderando as casas com 0 banheiros, que obtêm uma valorização muito superior aos outros imóveis por motivos não compreensíveis, vemos que uma boa casa em termos de valorização deve ter ao menos 3 banheiros, pois com 1 ou 2 banheiros o valor não sofre grande alterações, mas a partir de 3 banheiros é notável a valorização das casas e o limite da valorização é em 6 banheiros, pois utilizando as informações vemos que a partir de 6 banheiros existe uma desvalorização nas médias dos imóveis.<br><br><br> As análises abaixo serão feitas de mesma forma, mas levará em conta o número de quartos, andares, fontes de água frontal e view(que eu assumi como vista para pontos turísticos ou então paisagens).</h2>

In [46]:
bedrooms = DataFrame['bedrooms'].value_counts().sort_index()
save = bedrooms.tolist()
#print(bedrooms)
for i in range(len(bedrooms)):
    if i == 12:
        meanVal = DataFrame[DataFrame['bedrooms'] == 33]
        print('a média de valor para', 33, 'quartos é de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())
    else:    
        meanVal = DataFrame[DataFrame['bedrooms'] == i]
        print('a média de valor para', i, 'quarto(s) é de:', format(meanVal['price'].mean(),'.1E'))
        save[i] = (meanVal['price'].mean())

a média de valor para 0 quarto(s) é de: 1.0E+10
a média de valor para 1 quarto(s) é de: 6.6E+06
a média de valor para 2 quarto(s) é de: 1.1E+08
a média de valor para 3 quarto(s) é de: 1.3E+08
a média de valor para 4 quarto(s) é de: 7.7E+08
a média de valor para 5 quarto(s) é de: 3.1E+09
a média de valor para 6 quarto(s) é de: 6.9E+08
a média de valor para 7 quarto(s) é de: 1.1E+08
a média de valor para 8 quarto(s) é de: 1.1E+06
a média de valor para 9 quarto(s) é de: 8.9E+05
a média de valor para 10 quarto(s) é de: 3.8E+08
a média de valor para 11 quarto(s) é de: 5.2E+05
a média de valor para 33 quartos é de: 6.4E+05

<h2> A partir da análise acima é possível concluir que o número adequado de quartos para uma boa valorização do imóvel é entre 2 a 5, no máximo 6, quartos. </h2>

In [47]:
floors = DataFrame['floors'].value_counts().sort_index()
save = floors.tolist()
#print(floors)
for i in range(len(floors)):
    meanVal = DataFrame[DataFrame['floors'] == ((i*0.5)+1)]
    print('a média de valor para', ((i*0.5)+1), 'andar(es) é de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a média de valor para 1.0 andar(es) é de: 1.7E+08
a média de valor para 1.5 andar(es) é de: 3.6E+08
a média de valor para 2.0 andar(es) é de: 1.1E+09
a média de valor para 2.5 andar(es) é de: 1.3E+09
a média de valor para 3.0 andar(es) é de: 5.5E+08
a média de valor para 3.5 andar(es) é de: 1.4E+08

<h2> Assim como nos dados sobre banheiros, nos dados de andares também temos valores além dos inteiros/naturais, análisando apenas os valores do "mundo real", ou seja, 1, 2 ou 3 andares, vemos que o ideal do imóvel é ter 2 andares.</h2>

In [48]:
waterfront = DataFrame['waterfront'].value_counts().sort_index()
save = waterfront.tolist()
#print(waterfront)
for i in range(len(waterfront)):
    meanVal = DataFrame[DataFrame['waterfront'] == i]
    print('a média de valor para', i, 'fonte de água frontal é de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a média de valor para 0 fonte de água frontal é de: 5.5E+08
a média de valor para 1 fonte de água frontal é de: 2.6E+09

<h2> Sobre os resultados acima, vemos que, se o espaço da casa suporta, seria interessante ter uma fonte de água frontal, pois isso muito provavelmente geraria um aumento no valor da casa.</h2>

In [49]:
view = DataFrame['view'].value_counts().sort_index()
save = view.tolist()
#print(view)
for i in range(len(view)):
    meanVal = DataFrame[DataFrame['view'] == i]
    print('a média de valor para', i, 'vista(s) é de:', format(meanVal['price'].mean(),'.1E'))
    save[i] = (meanVal['price'].mean())

a média de valor para 0 vista(s) é de: 3.8E+08
a média de valor para 1 vista(s) é de: 1.9E+09
a média de valor para 2 vista(s) é de: 1.3E+09
a média de valor para 3 vista(s) é de: 2.7E+09
a média de valor para 4 vista(s) é de: 4.9E+09

<h2> Pelos dados acima pode-se dizer que é interessante para a empresa observar quais casas possuem uma(1) vista no mínimo e de preferência 4 vistas.</h2>


<br>
<br>
<br>

<h2>Respondendo as perguntas do início:</h2>

<h2> 1. Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra? </h2>

<h3>Em resumo as casas que o CEO da House Rocket deveria comprar são:
    <ol>
        <li>Casas com valores menores que 200 mil</li>
        <li>De preferência casas passíveis de serem reformadas, ou seja, que não tenham sido reformadas.</li>
        <li>De preferência casas no ZipCode 98039.</li>
        <li>Casas de 3 a 5 banheiros, e caso não tenha ao ser comprado é indicada a construção dos mesmos na reforma.</li>
        <li>Casas de 2 a 5 quartos, e caso não tenha ao ser comprado é indicada a construção dos mesmos na reforma.</li>
        <li>Casas de 2 andares, e caso não tenha ao ser comprado é indicada a construção dos mesmos na reforma.</li>
        <li>Casas com 1 fonte de água frontal, e caso não tenha ao ser comprado é indicada a construção da mesma na reforma.</li>
        <li>Casas com vista e de preferência com o valor igual a 4.</li>
    </ol>
</h3>

In [50]:
wantedHouses = DataFrame.iloc[0:0]

#1
df1 = DataFrame[DataFrame['price'] < 200000]

#2
#df1 = df1[df1['zipcode'] == 98039]

#4

wantedHouses = wantedHouses.append(df1[df1['bathrooms'] <= 5])

#5
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['bedrooms'] <= 5]

#6
df1 = wantedHouses 
wantedHouses = wantedHouses.loc[wantedHouses['floors'] <= 2]

#7 não há casas que tenham fonte
wantedHouses = wantedHouses.loc[wantedHouses['waterfront'] <= 1]

#8

wantedHouses = wantedHouses[wantedHouses['view'] > 0]

wantedHouses.sort_values(by = 'price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4768,4045500130,2014-09-09,154000.0,2,1.00,1040,20524,1.0,0,3,...,6,1040,0,1949,1989,98014,"47,6981","-121,8750",1880,38996
1626,5016003230,2015-02-18,169317.0,2,1.00,790,4000,1.0,0,2,...,7,790,0,1908,0,98112,"47,6248","-122,3010",1700,4200
16842,226109056,2015-03-26,170000.0,1,0.75,850,5600,1.0,0,2,...,6,850,0,1903,1994,98019,"47,7654","-121,4800",900,12250
1849,6052400575,2014-05-14,175000.0,2,1.00,1170,8925,1.0,0,2,...,6,1170,0,1911,0,98198,"47,4017","-122,3210",1380,7440
15248,1320069249,2014-10-20,192500.0,1,1.00,470,63737,1.0,0,2,...,5,470,0,1924,0,98022,"47,2163","-121,9840",1350,46762

In [51]:
DataFrame['sqft_lot'].mean()

15106.967565816869

<h3> Essas seriam as 5 melhores opções. Dado as condições possíveis, uma vez que no zipcode preferencial não estão dentro da faixa de preço.
    <br><br>
A melhor opção seria o imóvel de id igual a 1320069249 com o valor de 192mil, pois é uma casa que atende os requisitos e dado ao seu grande espaço de terreno após uma reforma a empresa conseguiria ter um lucro com a casa, uma vez que uma casa renovada tem a expectativa de aumento, além das outras melhorias possíveis de novos quartos, banheiros, andares e uma fonte de água também podem aumentar o lucro, e por fim ainda sobrar espaço no terreno. 
    <br><br>
    Tudo isso levado em conta, é possível que a divisão deste terreno seja utilizado para construção de novas casas, pois o terreno deste imóvel é enorme, dado por "sqft_lot" = 63737, sendo 4 vezes o tamanho médio dos imóveis, desta forma além de lucrar com a reforma na casa já existente é possível lucrar com novos imóveis construídos.</h3>

<h2> 2. Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda? </h2>

<h3>
    Caso a casa passe após a reforma de 1 quarto para 3 quartos, 1 banheiro para 3 banheiros, 2 andares e uma fonte de água na frente da casa. É possível que o valor desta casa triplique facilmente, uma vez que os dados informam que essas alterações seriam suficientes para aumentar o valor da casa em mais de 10 vezes, porém sabemos que somente essas alterações não seriam suficientes, seria necessário um maior conhecimento do mercado local, analisar seu posicionamento (zipcode) entre outros fatores que não é possível ser analisado pelos dados. Desta forma a afirmação de que o valor possa triplicar não foge à realidade dos dados e nem à realidade dos negócios, podendo assim dar um "norte" para empresa sobre um possível retorno na venda da casa pós reforma.
    
</h3>

<h2> 3. A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma? </h2>

<h3>
    <ol>
        <li> A House Rocket deveria fazer uma reforma para aumentar o preço da venda?</li>
            <p style="font-size: 18px;">-Sim, seria recomendado pois como foi analisado é esperado uma valorização após a reforma, baseado na média de valores das casas reformadas e das não reformadas.</p><br>
        <li> Quais seriam as sugestões de mudanças?</li>
        <p>Como foi visto anteriormente os requisitos para uma casa com um bom valor de mercado são os seguintes:</p>
        <p>
        * 3 a 5 banheiros.<br>
        * 2 a 5 quartos.<br>
        * 2 andares.<br>
        * 1 fonte de água frontal.<br>
        * vista e de preferência com o valor igual a 4.</p><br>
        <p> Os dados indicam um aumento muito absurdo, exemplo: o preço médio de casas de um banheiro para casas com 5 banheiros é de 100 vezes o preço. <br><br> A análise que pode ser feita é de que existe um aumento no valor da casa se esta possuir mais recursos, como mais banheiros, quartos, etc. Sendo assim, pode-se dizer que os valores citados acima seriam encontrados em casas com uma maior valorização, mas que não necessáriamente, você ter 5 banheiros em uma casa esta terá sua valorização multiplicada por 100.</p><br>
        <li> Qual o incremento no preço dado por cada opção de reforma?</li>
        <p>Essa informação está muito enviesada nos dados, uma vez que não temos uma mesma casa (mesmo ID) que tenha construído mais um banheiro ou um quarto. Sendo assim, seria necessárias casas que tenham havido mudanças em sua construção, por exemplo, uma casa que tenha construído mais um banheiro, para saber o impacto do mesmo no preço, isso acontecendo diversas vezes poderíamos calcular um valor de valorização mais exato.<br>
Com os dados atuais a única afirmação possível de ser feita é que dado uma casa com os requisitos citados acima, o esperado é que esta tenha um alto valor em relação a casas que não cumprem esses requisitos.
</p><br>
    </ol>
    
</h3>